html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

h1 {
	font-size: 30px;
	color: #FFF;
	position: absolute;
}

#black-bar {
	background-color: black;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

#black-bar a {
	color: white;
}

.fixed-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#datetime {
	float: right;
}

#header {
	height: 100px;
}

#logo {
	position: absolute;
	top: 40px;
}

.location {
	width: 72px;
	position: absolute;
	top: 50px;
	left: 180px;
	background: url("img/arrow.svg") no-repeat;
	background-size: 8px 5px;
	background-position: 62px center;
	

}

.weather {
	position: absolute;
	top: 48px;
	left: 550px;
}

.temp {
	position: absolute;
	top: 35px;
	left: 590px;
	color: #b2b2bb;
}

.search {
	position: absolute;
	top: 40px;
	left: 680px;
	width: 260px;
	height: 44px;
	border-radius: 40px;
	background-color: #f3f3f3;
	border: none;
	padding-left: 20px;

}

ul.navigation {
	position: absolute;
	left: -35px;
	width: 900px;

}

li.navigation {
	display: inline;
	margin-right: 11px;
}

li.navigation a {
	text-decoration: none;
	color: black;

}

li.navigation.slash {
	color: #f0f0f1;

}

#menu-container {
	height: 70px;
}

#column-left {
	background-color: #FFFFFF;
	width: 250px;
	height: 850px;
	float: left;
}

	.news-item {
		padding-left: 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news-item-text {
		margin-bottom: 20px;
	}

	.news-item-props {
		font-size: 12px;
		position: relative;
	}

		.news-item-props a {
			color: #91919f;
		}

		.news-time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}

#column-center {
	background-image: url("img/top-news-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 420px;
	margin-left: 20px;
	float: left;
	position: relative;
	height: 320px;

}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

#central-container .fixed-container {
	overflow-y: hidden;
}

#column-right {
	width: 250px;
	float: right;
}

#column-right img {
	margin-bottom: 20px;
}

#special-news {
	display: flex;
}

.list {
	padding-left: 20px;
}

.list-item {
	display: list-item;
}

#column-center a {
	text-decoration: none;
	color: white;
	padding-top: 110px;
	padding-left: 20px;
	position: absolute;

}

#column-center h1 {
	padding-top: 150px;
	padding-left: 20px;
}

#column-center p {
	padding-top: 270px;
	padding-left: 20px;
	color: white;

}

.second-line-column1 {
	float: left;
	width: 200px;
	margin-top: 18px;
	margin-right: 20px;
	height: 505px;
}

.second-line-column2 {
	float: right;
	width: 200px;
	margin-top: 18px;
	height: 505px;
}

.second-line-column1 img {
	max-width:100%;
	height:142px;
	margin-bottom: 10px;
}

.second-line-column1 h3 {
	color: black;
	width:180px;
	margin: 0;
	font-size: 14px;

}

#second-line-column1 {
	position: relative;
}

#second-line-column1 a {
	color: black;
	padding: 0px;
	margin: 16px 0px 0px 0px;
}

#second-line-column1 .news-time {
	margin: 16px 0px 0px 0px;
	position: absolute;
	left: 70px;
}

#second-line-column1 .news-comments-count {
	margin: 16px 0px 0px 0px;	
	position: absolute;
	left: 135px;
}

#third-news {
	margin-top: 48px;
}

.second-line-column2 img {
	max-width:100%;
	height:142px;
	margin-bottom: 10px;
}

.second-line-column2 h3 {
	color: black;
	width:180px;
	margin: 0;
	font-size: 14px;

}

#second-line-column2 {
	position: relative;
}

#second-line-column2 a {
	color: black;
	padding: 0px;
	margin: 16px 0px 0px 0px;
}

#second-line-column2 .news-time {
	margin: 16px 0px 0px 0px;
	position: absolute;
	left: 70px;
}

#second-line-column2 .news-comments-count {
	margin: 16px 0px 0px 0px;	
	position: absolute;
	left: 135px;
}

#button {
	border: 1px solid #448ccb;
	color: #448ccb;
	text-decoration: none;
	padding: 16px 50px;
	border-radius: 50px 50px 50px 50px;
	margin-top: -5px;
	margin-left: 35px;
	background-color: white;
	font-size: 14px;
}

.special-news-container1 {
	width: 558px;
	height: 395px;
	background-image: url("img/special-news.jpg");
	background-repeat: no-repeat;
	background-size: 566px 395px;
	padding-left: 20px;
	padding-top: 105px;
	color: white;
}

.special-news-container1 a {
	text-decoration: none;
	color: white !important;
}

.special-news-container1 h3 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 30px;

}

.special-news-container1 p.time {
	font-size: 12px;
	margin-bottom: 32px;

}

.special-news-container1 p {
	font-size: 14px;
	padding-right: 10px;

}

.special-news-container2 {
	width: 402px;
	height: 395px;
	background-color: aquamarine; 


}